<!DOCTYPE html>
</html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    [v-cloak] {
        display: none;
    }
    img {
        margin: auto;
        max-width: 800px;
    }
    li {
        list-style: none;
    }
</style>
<div id=app>
    <div class="container">
        <!-- <img :src="imgSrc" :title="imgTitle" alt=""> -->

        <div class="card mt-5">
            <h2 class="card-header">Near-Earth Objects</h2>
            <table class="table">
                <thead class="thead-dark">
                    <th>#</th>
                    <th>Name</th>
                    <th>Close Approach Date</th>
                    <th>Miss Distance</th>
                    <th>Remove</th>
                </thead>
                <tbody v-cloak>
                    <tr v-for="(asteroid, index) in asteroids">
                        <td>{{index + 1}}</td>
                        <td>{{asteroid.name}}</td>
                        <td>{{getCloseApproachDate(asteroid)}}</td>
                        <td>
                            <ul v-if="asteroid.close_approach_data.length > 0">
                                <li v-for="(value, key) in asteroid.close_approach_data[0].miss_distance">
                                    {{key}}: {{value}}
                                </li>
                            </ul>
                        </td>
                        <td>
                            <button @click="remove(index)" class="btn btn-warning">remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const apiKey = 'qtbDAzGCDR7zrNAypKP7VrE3zxUyL76W9nFsp1at';
    // const url = `https://api.nasa.gov/planetary/apod?api_key=${apiKey}`;
    const url = `https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=${apiKey}`;

    let vm = new Vue({
        el: '#app',
        data: {
            // imgSrc: '',
            // imgTitle: ''
            asteroids: []
        },
        created: function () {
            this.fetchAsteroids();
        },
        methods: {
            fetchAsteroids: () => {
                fetch(url)
                .then((res) => res.json())
                .then((val) => {
                    // console.log(JSON.stringify(val))
                    // console.log(val)
                    // vm.imgSrc = val.url;
                    // vm.imgTitle = val.title;
                    vm.asteroids = val.near_earth_objects.slice(10, 20);
                });
            },
            getCloseApproachDate: (asteroid) => {
                return asteroid.close_approach_data.length > 0 ? 
                asteroid.close_approach_data[0].close_approach_date : 'N/A';
            },
            remove: function (index) {
                this.asteroids.splice(index, 1);
            }
        }
    });
</script>